<div class="container">
  <div>
    <mat-card class="tiny-card">
      <img class="square" mat-card-image src="../../../assets/img/tutor-register.jpg" />
      <mat-card-title>User</mat-card-title>
      <mat-card-content>
        <p>
          Register as a tutor, specialized in one or more languages at native
          level.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button routerLink="/register/tutor">SELECT</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div>
    <mat-card class="tiny-card">
      <img mat-card-image src="../../../assets/img/student-register.jpg" />
      <mat-card-title>Student</mat-card-title>
      <mat-card-content>
        <p>
          Register as a student, get trained in one or more languages with
          native tutors.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button routerLink="/register/student">SELECT</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
