<footer class="footer">
  <h2 class="footerTitle">ILanguage</h2>
  <p class="definition"><strong>ILanguage</strong> is a web and mobile application that allows you to learn and/or improve various languages. Users are people who want to specialize in or further practice a language. Therefore, it is a requirement that users have at least a basic knowledge. The app will have only one version, which is through subscriptions.</p>
  <button  mat-button (click)="openDialog()" class="btnTerms">Terms and conditions</button>
</footer>
