
<mat-tab-group mat-align-tabs="center" style="margin: 50px">

  <!-- English -->
  <mat-tab label="English">
    <mat-grid-list cols="2" rowHeight="600px">
      <mat-grid-tile>
        <mat-card class="spoken-card">
          <mat-card-header>
            <mat-card-title>The Most In-Demand Job!</mat-card-title>
            <mat-card-subtitle>An essential tool for your working life</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://images.pexels.com/photos/427679/pexels-photo-427679.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Photo of London">
          <mat-card-content>
            <p>
              English has been the most demanded language by companies for many years. Nowadays it is an indispensable requirement
              for your work and personal life. There is no better way to learn it than with a professional who will provide personalized tutoring.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button  color="primary">START NOW!</button>
            <button mat-button>MORE INFORMATION</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="spoken-card">
          <mat-card-header>
            <mat-card-title>Topic of the week</mat-card-title>
            <mat-card-subtitle style="font-style: italic">Health: Introduction to Clinical Medicine</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p  style="font-style: italic">
              "Fourth edition that continues with the objective of providing medical students with a solid approach to the causes
              and mechanisms of diseases to the causes and mechanisms of diseases, disorders in the function and structure of organs
              and systems. and structure of organs and systems".
            </p>
            <img mat-card-image src="https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Photo of London">
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>MORE INFORMATION</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <!-- Chinese -->
  <mat-tab label="Mandarin Chinese">
    <mat-grid-list cols="2" rowHeight="600px">
      <mat-grid-tile>
        <mat-card class="spoken-card">
          <mat-card-header>
            <mat-card-title>The most important language in Asia</mat-card-title>
            <mat-card-subtitle>Are you really a trained professional?</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://images.pexels.com/photos/745243/pexels-photo-745243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Photo of Beijing">
          <mat-card-content>
            <p>
              Learning Mandarin gives you the opportunity to take a closer look at the Chinese market, considered the second most important in the world.
              Trading with China is seen as one of the best strategic decisions in the business world, not only for companies, but also for independents..
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button  color="primary">START NOW!</button>
            <button mat-button>MORE INFORMATION</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="spoken-card">
          <mat-card-header>
            <mat-card-title>Topic of the week</mat-card-title>
            <mat-card-subtitle style="font-style: italic">Angular web programming</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p  style="font-style: italic">
              "Angular (commonly referred to as Angular 2+ or Angular 2) is a framework for web applications developed in TypeScript, open source,
              maintained by Google, which is used to create and maintain single-page web applications".
            </p>
            <img mat-card-image height="300px" src="https://docs.angular.lat/assets/images/logos/angular/angular.svg" alt="Photo of ">
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>MORE INFORMATION</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <!-- Spain -->
  <mat-tab label="Spanish">
    <mat-grid-list cols="2" rowHeight="600px">
      <mat-grid-tile>
        <mat-card class="spoken-card">
          <mat-card-header>
            <mat-card-title>The fourth most spoken language!</mat-card-title>
            <mat-card-subtitle>A primary language for business!</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image height="250px" src="https://images.pexels.com/photos/54097/spain-flag-flutter-spanish-54097.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Photo of Spain">
          <mat-card-content>
            <p>
              Spanish is the third most spoken language in the world by number of native speakers (after Mandarin Chinese and English).
              as a mother tongue (after Mandarin Chinese and English). It is spoken as a first and second language by between 450 and 500 million people.
              It is the third most spoken language, counting those who speak it as a first or second language, behind Mandarin Chinese and English. second language,
              behind Mandarin Chinese and English.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button  color="primary">START NOW!</button>
            <button mat-button>MORE INFORMATION</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="spoken-card">
          <mat-card-header>
            <mat-card-title>Topic of the week</mat-card-title>
            <mat-card-subtitle style="font-style: italic">Botanical Engineering</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p  style="font-style: italic">
              "The main branches of botany (also called "plant sciences") are commonly divided into three groups: core subjects,
              related to the study of fundamental natural phenomena and processes in plant life, and the study of plant life. three groups: core subjects, concerned
              with the study of the fundamental natural phenomena and processes of plant life...".
            </p>
            <img mat-card-image src="https://images.pexels.com/photos/4503273/pexels-photo-4503273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Photo of London">
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>MORE INFORMATION</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
</mat-tab-group>
