.fix-img{
  max-width: 45%;
  height: auto;
}
.font-title{
  font-size: clamp(40px,5vw, 90px); 
}
.font-subtitle{
  font-size: clamp(0.5em,2vw, 1.2em); 
}
.mb-4{
  margin-bottom: 4rem;
}
.p-cent{
  padding-right: 2rem;
}
.button-color{
  background-color: #2699fb;
  color: #ffffff;
}
.caja-justify{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ml-9{
  margin-left: 9rem;
}
