<mat-grid-list cols="2" rowHeight="2.5:1.33">
  <mat-grid-tile>
    <div>
      <div class="caja-justify ml-9">
        <div><h1 class="font-title mb-4">SIGN UP NOW</h1></div>
        <mat-list>
          <mat-list-item>
            <p class="font-subtitle">
              - The best way to study a language is to practice it.
            </p>
          </mat-list-item>
          <mat-list-item>
            <p class="font-subtitle">
              - Have a conversation with our native tutors on the topic of your
              choice. of your choice
            </p>
          </mat-list-item>
          <mat-list-item>
            <p class="font-subtitle">
              - Join our staff of tutors and share your knowledge with the world
              knowledge with everyone
            </p>
          </mat-list-item>
        </mat-list>
        <div>
          <button routerLink="/register" mat-raised-button class="button-color">SIGN UP NOW</button>
        </div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <img class="fix-img" src="../../../assets/img/studyng.jpg" alt="Studding" />
  </mat-grid-tile>
</mat-grid-list>
