<mat-grid-list cols="2" rowHeight="2:1.33">
  <mat-grid-tile>
    <div>
      <div>
        <div><h1 class="font-title mb-4">ILanguage</h1></div>
        <div>
          <h3 class="font-subtitle">
            The best way to study a language is to practice it.
          </h3>
        </div>
        <div>
          <p class="font-subtitle">
          Have a conversation with our native tutors on the topic of your
          choice. of your choice
          </p>
        </div>
        <button routerLink="/register" mat-raised-button class="button-color mr-5">
          SIGN UP NOW
        </button>
        <button mat-raised-button routerLink="/login">LOGIN</button>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <img
      class="fix-img p-cent"
      src="../../../assets/img/zoom-conversation.jpg"
      alt="Conversation"
    />
  </mat-grid-tile>
</mat-grid-list>
