<div class="total">
  <h1 class="texto">FeedBack</h1>
  <p class="texto"> One benefit that teachers will have will be that they can be graded by other users with a simple and
    easy-to-use system. The user who is qualified will be able to see the qualifications that are given in percentages
    that the application will provide.</p>
  <br>
  <br>
  <div class="body">
    <img class="imagen" src="../../../assets/img/chinese-teacher.jpg" alt="Studding"/>
  </div>
  <br>
  <br>
  <br>
  <div class="icon">
    <mat-icon color="warn">grade</mat-icon>
    <mat-icon color="warn">grade</mat-icon>
    <mat-icon color="warn">grade</mat-icon>
    <mat-icon color="warn">grade</mat-icon>
    <mat-icon>grade</mat-icon>
  </div>
  <div>
    <mat-grid-list cols="5">
      <mat-grid-tile>
        <div>
          <p class="texto-estrellas">1 star</p>
          <mat-spinner class="barra-progreso" color="accent" value="25" mode="determinate" diameter="30"></mat-spinner>
          <p class="texto-estrellas">(25%)</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <p class="texto-estrellas">2 stars</p>
          <mat-spinner class="barra-progreso" color="warn" value="35" mode="determinate" diameter="30"></mat-spinner>
          <p class="texto-estrellas">(35%)</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <p class="texto-estrellas">3 stars</p>
          <mat-spinner class="barra-progreso" color="primary" value="49" mode="determinate" diameter="30"></mat-spinner>
          <p class="texto-estrellas">(49%)</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <p class="texto-estrellas">4 stars</p>
          <mat-spinner class="barra-progreso" color="accent" value="58" mode="determinate" diameter="30"></mat-spinner>
          <p class="texto-estrellas">(58%)</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <p class="texto-estrellas">5 stars</p>
          <mat-spinner class="barra-progreso" color="warn" value="85" mode="determinate" diameter="30"></mat-spinner>
          <p class="texto-estrellas">(85%)</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
