<div class="container">
  <div class="caja-justify ml-10">
    <h1 class="texto-ranking">Ranking Student</h1>
    <p class="texto-ranking">
      Ranking of students who booked the most classes with you
    </p>
  </div>
  <mat-card class="first-card card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>First Place</mat-card-title>
      <mat-card-subtitle>Trall Orgrim</mat-card-subtitle>
      <div>
        <img src="../../../assets/img/first-place.png" class="shadow" />
      </div>
    </mat-card-header>
    <div mat-card-image></div>
    <div class="barra-progreso">
      <p class="texto-ranking">75 Reservaciones</p>
    </div>
  </mat-card>

  <mat-card class="second-card card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image2"></div>
      <mat-card-title>Second Place</mat-card-title>
      <mat-card-subtitle>Pablo Escobar</mat-card-subtitle>
      <div>
        <img src="../../../assets/img/second-place.png" class="shadow" />
      </div>
    </mat-card-header>
    <div mat-card-image></div>
    <div class="barra-progreso">
      <p class="texto-ranking">55 Reservaciones</p>
    </div>
  </mat-card>

  <mat-card class="third-card card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image3"></div>
      <mat-card-title>Third Place</mat-card-title>
      <mat-card-subtitle>Pedro Castillo</mat-card-subtitle>
      <div>
        <img src="../../../assets/img/third-place.png" class="shadow" />
      </div>
    </mat-card-header>
    <div mat-card-image></div>
    <div class="barra-progreso">
      <p class="texto-ranking">25 Reservaciones</p>
    </div>
  </mat-card>
</div>
